/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

/* DEFAULT */
h1, h2, h3, h4, h5, h6 { font-family: 'Jura', sans-serif; letter-spacing: -0.07em; }

header { background: url('/assets/header.jpg'); background-size: 100%; height: 826px; width: 100%; position: relative; }
header .logo { padding-top: 70px; }

@media only screen and (max-width:899px) {
    header { background: #000923; height: auto; padding-bottom: 50px; }
    header .logo { padding: 35px 20px 20px 20px; }
}


header .content { color: #fff; position: relative; }

/* FONTS */
header .content h1 { font-family: 'Jura'; font-weight: 700; font-size: 68px; line-height: 70px; margin-top: 50px; letter-spacing: -0.07em; }
header .content h1 span { color: #FFB930; }

header .content h1.mobile { display: none; }

header .content p { font-family: 'Noto Sans'; font-style: normal; font-weight: 400; font-size: 21px; line-height: 29px; color: rgba(255, 255, 255, 0.75); margin-top: 30px; }
header .content p b { font-weight: bold; }

@media only screen and (max-width:899px) {
    header .content { padding: 20px; }
    header .content h1 { font-size: 30px; line-height: 35px; margin-top: 10px; }
    header .content h1.desktop { display: none; }
    header .content h1.mobile { display: block; }
    header .content p { font-size: 16px; margin-top: 15px; }
    header .content p.mobile { display: none; }
    header .content p br { display: none; }
}

/* FORM */
header .content form { padding: 40px; border-radius: 3px; background: url(.png), radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(165, 239, 255, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%); background-blend-mode: overlay, normal; backdrop-filter: blur(40px); }
header .content form h3 { text-align: center; letter-spacing: -0.07em; color: #FBFBFB; }
header .content form input { margin-bottom: 25px; padding: 12px 15px; border-radius: 4px; }
header .content form select { margin-bottom: 25px; padding: 12px 15px; border-radius: 4px; color: #6c757d; }

header .content form input:focus { box-shadow: none !important; border: 1px solid #fff; }
header .content form select:focus { box-shadow: none !important; border: 1px solid #fff; }

header .content form button { width: 100%; background: #FFB930; padding: 12px 30px; border-radius: 3px; border:none; font-family: 'Noto Sans'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 27px; color: #000923; margin-top: 20px; }
header .content form button:hover { background: #ffc759; color: #000923; }

@media only screen and (max-width:899px) {
    header .content form { margin-top: 30px; padding: 30px; }
}

/* FIRST */
section { padding: 100px 0px; }
section.first { background: #FAFAFA; }
section.first img { margin: 0 auto; display: block; width: 50px; }
section.first h3 { font-style: normal; font-weight: 700; font-size: 33px; line-height: 39px; text-align: center; letter-spacing: -0.07em; color: #000923; }
section.first p { font-weight: 400; font-size: 18px; line-height: 29px; text-align: center; color: #686868; }

@media only screen and (max-width:899px) {
    section.first { padding-bottom: 20px; padding-top: 60px; }
    section.first p { padding: 0px 20px; font-size: 16px; line-height: 25px; }
    section.first .col-lg-4 { margin-bottom: 30px; }
}

section.second .box { width: 32.3%; display: inline-block; margin-right: 10px;}
section.second .box img { width: 100%; }
section.second .box span { font-family: 'Jura'; font-size: 28px; line-height: 39px; letter-spacing: -0.07em; color: #000923; }
section.second .box p { font-weight: 400; font-size: 19px; line-height: 29px; color: #686868; }

@media only screen and (max-width:899px) {
    section.second .carousel { display: none; }
}

section.second button.carousel-control-prev { background: #FFB930; opacity: 1; width: 40px; height: 40px; border-radius: 50px; top: 145px; left: 30px; }
section.second button.carousel-control-prev .carousel-control-prev-icon { width: 1.2rem; height: 1rem; }

section.second button.carousel-control-next { background: #FFB930; opacity: 1; width: 40px; height: 40px; border-radius: 50px; top: 145px; right: 30px; }
section.second button.carousel-control-next .carousel-control-next-icon { width: 1.2rem; height: 1rem; }

@media only screen and (max-width:899px) {
    section.second { padding: 40px 10px 20px 10px; }
    section.second .mb-5 { margin-bottom: 1rem!important; }
}

/* SWIPE MOBILE */
.swipeMobile { overflow-x: scroll; white-space: nowrap; display: none; }

.swipeMobile .box { width: 32.3%; display: inline-block; margin-right: 10px; }
.swipeMobile .box img { width: 100%; }
.swipeMobile .box span { font-family: 'Jura'; font-size: 28px; line-height: 39px; letter-spacing: -0.07em; color: #000923; }
.swipeMobile .box p { font-weight: 400; font-size: 19px; line-height: 29px; color: #686868; white-space: initial;}

@media only screen and (max-width:899px) {
    .swipeMobile { display: block; padding: 0px 20px;}
    .swipeMobile .box { width: 70%; }
    .swipeMobile .box h4 { font-size: 19px; }
    .swipeMobile .box p { font-size: 16px; line-height: 25px; }
}

section.three { background: #fafafa; height: 619px; padding: 0px; position: relative; top: 200px; }
section.three img { width: 100%; margin-top: -150px; }
section.three p { font-weight: 400; font-size: 19px; line-height: 29px; color: #686868; }
section.three button { background: #FFB930; padding: 12px 30px; border-radius: 3px; border:none; font-family: 'Noto Sans'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 27px; color: #000923; margin-top: 20px; }
section.three button:hover { background: #ffc759; color: #000923; }

@media only screen and (max-width:899px) {
    section.three { padding: 0px 20px; top: 250px; height: 545px; text-align: center; }
    section.three h1 { margin-top: 20px; }
    section.three p { font-size: 16px; line-height: 25px; }
    section.three .p-5 { padding: 15px !important; }
}



section.four { padding: 0px; position: inherit; margin-top: 310px; height: 760px; }
section.four img { width: 100%; }
section.four p { font-weight: 400; font-size: 19px; line-height: 29px; color: #686868; }
section.four ul { padding: 0px; margin: 0px; padding-left: 25px; }
section.four ul li { font-weight: 400; font-size: 19px; line-height: 29px; color: #686868; }

section.four button { background: #FFB930; padding: 12px 30px; border-radius: 3px; border:none; font-family: 'Noto Sans'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 27px; color: #000923; margin-top: 20px; }
section.four button:hover { background: #ffc759; color: #000923; }

@media only screen and (max-width:899px) {
    section.four { padding: 0px 20px; height: auto; text-align: center; }
    section.four h1 { margin-top: 20px; }
    section.four p { font-size: 16px; line-height: 25px; }
    section.four ul { padding: 0px; }
    section.four ul li { font-size: 16px; line-height: 25px; list-style: none; }

    
    section.four .col-lg-5 { order: 1; }
    section.four .col-lg-7 { order: 2; }
    section.four .p-5 { padding: 15px !important; }
}

section.five { position: inherit; background: #fafafa;}
section.five img { margin: 0 auto; display: block; }
section.five span { display: block; margin: 0 auto; font-family: 'Jura'; font-size: 20px; letter-spacing: -0.07em; }
section.five small { opacity: 0.6; font-size: 15px; }
section.five p { padding: 0px 15%; color: #686868; }

@media only screen and (max-width:899px) {
    section.five { padding-top: 40px; padding-bottom: 40px; }
    section.five p { padding: 0px 8%; }
}

footer { background: #000923; padding: 100px 0px; }
footer p { color: rgba(255, 255, 255, 0.60);}

@media only screen and (max-width:899px) {
    footer { padding: 50px 0px; }
    footer p { padding: 0px 10%; font-size: 14px; }
}