/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

/* DEFAULT */
h1, h2, h3, h4, h5, h6 { font-family: 'Jura', sans-serif; }

header { background: url('/assets/header.jpg'); background-size: 100%; height: 826px; width: 100%; position: relative; }
header .logo { padding-top: 70px; }


header .content { color: #fff; position: relative; }

/* FONTS */
header .content h1 { font-family: 'Jura'; font-weight: 700; font-size: 68px; line-height: 70px; margin-top: 50px; letter-spacing: -0.07em; }
header .content h1 span { color: #FFB930; }

header .content p { font-family: 'Noto Sans'; font-style: normal; font-weight: 400; font-size: 21px; line-height: 29px; color: rgba(255, 255, 255, 0.75); margin-top: 30px; }
header .content p b { font-weight: bold; }

/* FORM */
header .content form { padding: 40px; border-radius: 3px; background: url(.png), radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(165, 239, 255, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%); background-blend-mode: overlay, normal; backdrop-filter: blur(40px); }
header .content form h3 { text-align: center; letter-spacing: -0.07em; color: #FBFBFB; }
header .content form input { margin-bottom: 25px; padding: 12px 15px; border-radius: 4px; }
header .content form select { margin-bottom: 15px; padding: 12px 15px; border-radius: 4px; }

header .content form input:focus { box-shadow: none !important; border: 1px solid #fff; }
header .content form select:focus { box-shadow: none !important; border: 1px solid #fff; }

header .content form button { width: 100%; background: #FFB930; padding: 12px 30px; border-radius: 3px; border:none; font-family: 'Noto Sans'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 27px; color: #000923; margin-top: 20px; }
header .content form button:hover { background: #ffc759; color: #000923; }

/* FIRST */
section { padding: 100px 0px; }
section.first { background: #FAFAFA; }
section.first img { margin: 0 auto; display: block; width: 50px; }
section.first h3 { font-style: normal; font-weight: 700; font-size: 33px; line-height: 39px; text-align: center; letter-spacing: -0.07em; color: #000923; }
section.first p { font-weight: 400; font-size: 21px; line-height: 29px; text-align: center; color: #686868; }